{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "SellerCloud Delta Client API Documentation"
    },
    "host": "tt.api.sellercloud.com",
    "basePath": "/rest",
    "schemes": ["https"],
    "paths": {
        "/api/token": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Receive a new token",
                "operationId": "Authentication_Create",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "Username and pasword",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.WebApi.Models.Authentication.CreateTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.WebApi.Models.Authentication.CreateTokenResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/BasicInfo": {
            "put": {
                "tags": ["Catalog"],
                "summary": "Update basic catalog info",
                "operationId": "Catalog_UpdateBasicInfo",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "Product info",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Product.UpdateBasicInfoRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/Catalog/{id}/Prices": {
            "get": {
                "tags": ["Catalog"],
                "summary": "Get product prices [obsolete]",
                "operationId": "Catalog_GetProductPrices",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of product",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Product.ProductPricesDto"
                        }
                    }
                }
            },
            "put": {
                "tags": ["Catalog"],
                "summary": "Update product prices [obsolete]",
                "operationId": "Catalog_UpdateProductPrices",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of product",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "description": "Update data",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Product.ProductPricesDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/Catalog/Prices": {
            "get": {
                "tags": ["Catalog"],
                "summary": "Get product prices",
                "operationId": "Catalog_GetProductPricesV2",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "productID",
                        "in": "query",
                        "description": "ID of product",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Product.ProductPricesDto"
                        }
                    }
                }
            },
            "put": {
                "tags": ["Catalog"],
                "summary": "Update product prices",
                "operationId": "Catalog_UpdateProductPricesV2",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Update data",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Product.UpdateProductPricesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/Catalog/Views": {
            "get": {
                "tags": ["Catalog"],
                "summary": "Get catalog saved views",
                "operationId": "Catalog_Views",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CoreWebAdmin.Delta.ManageEntity.View.SavedView"
                            }
                        }
                    }
                }
            }
        },
        "/api/Catalog/GetAllByView": {
            "get": {
                "tags": ["Catalog"],
                "summary": "Get products by view",
                "operationId": "Catalog_GetAllByView",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "viewID",
                        "in": "query",
                        "description": "View ID",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page number",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Page Size",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse[SellerCloud.Delta.Models.ManageEntity.Concrete.ProductCatalogDto]"
                        }
                    }
                }
            }
        },
        "/api/Catalog/ProductTypes": {
            "get": {
                "tags": ["Catalog"],
                "summary": "Get product types",
                "operationId": "Catalog_GetProductTypes",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "model.productTypeIds",
                        "in": "query",
                        "description": "List of Product Type IDs",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.typeNames",
                        "in": "query",
                        "description": "List of Product Type Names",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse[SellerCloud.Delta.Models.ManageEntity.Concrete.ManageProductTypeDto]"
                        }
                    }
                }
            }
        },
        "/api/Catalog/VariationDimensions": {
            "get": {
                "tags": ["Catalog"],
                "summary": "Get All Variation Dimensions",
                "operationId": "Catalog_GetVariationDimensions",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "model.searchTerm",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse[SellerCloud.Delta.Models.Toolbox.Product.VariationProperties.VariationDimensionResponseDto]"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Variation": {
            "get": {
                "tags": ["Catalog"],
                "summary": "Get Product Variation",
                "operationId": "Catalog_LoadVariation",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "model.productID",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.Toolbox.Product.VariationProperties.MatrixWithImagesResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog": {
            "get": {
                "tags": ["Catalog"],
                "summary": "Get catalog info for multiple products",
                "operationId": "Catalog_GetAll",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "model.sKU",
                        "in": "query",
                        "description": "List of product IDs",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.displayShadows",
                        "in": "query",
                        "description": "<br />  0 = Non_Shadow_Only ,  1 = Shadow_Only ,  2 = Shadow_Parent ,  3 = Not_Shadow_or_Shadow_Parent ",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2, 3],
                        "x-enumNames": [
                            "Non_Shadow_Only",
                            "Shadow_Only",
                            "Shadow_Parent",
                            "Not_Shadow_or_Shadow_Parent"
                        ]
                    },
                    {
                        "name": "model.selectedKits",
                        "in": "query",
                        "description": "Kit<br />  0 = Not_a_Kit_Parent_or_Component ,  1 = Kit_Parent ,  2 = Kit_Component ,  3 = Not_a_Kit_Parent ,  4 = Not_a_Kit_Component ",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2, 3, 4],
                        "x-enumNames": [
                            "Not_a_Kit_Parent_or_Component",
                            "Kit_Parent",
                            "Kit_Component",
                            "Not_a_Kit_Parent",
                            "Not_a_Kit_Component"
                        ]
                    },
                    {
                        "name": "model.activeStatus",
                        "in": "query",
                        "description": "Is Active<br />  0 = No ,  1 = Yes ,  -1 = All ",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, -1],
                        "x-enumNames": ["No", "Yes", "All"]
                    },
                    {
                        "name": "model.poID",
                        "in": "query",
                        "description": "List of IDs of different purchase orders",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.companyID",
                        "in": "query",
                        "description": "List of IDs of different companies",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.vendorID",
                        "in": "query",
                        "description": "List of IDs of vendors",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.defaultVendorID",
                        "in": "query",
                        "description": "List of IDs of default vendors",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.vendorSKU",
                        "in": "query",
                        "description": "List of vendor SKUs",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.warehouse",
                        "in": "query",
                        "description": "List of IDs of different warehouses",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.uPC",
                        "in": "query",
                        "description": "Universal Product Code number",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.physicalQtyFrom",
                        "in": "query",
                        "description": "Minimum physical qty",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.physicalQtyTo",
                        "in": "query",
                        "description": "Maximum physical qty",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.kitType",
                        "in": "query",
                        "description": "Inventory kit type<br />  0 = Independant ,  1 = MainComponent ,  2 = AllComponents ",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2],
                        "x-enumNames": ["Independant", "MainComponent", "AllComponents"]
                    },
                    {
                        "name": "model.lastAggregateFrom",
                        "in": "query",
                        "description": "Start date-time of creation: mm/dd/yyyy hh:mm",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.lastAggregateTo",
                        "in": "query",
                        "description": "Last date-time of creation: mm/dd/yyyy hh:mm",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.lastUpdatedFrom",
                        "in": "query",
                        "description": "Start date-time of updating: mm/dd/yyyy hh:mm",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.lastUpdatedTo",
                        "in": "query",
                        "description": "Last date-time of updating: mm/dd/yyyy hh:mm",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.keyword",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse[SellerCloud.Delta.Models.ManageEntity.Concrete.ProductCatalogDto]"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/BasicImports/Types": {
            "get": {
                "tags": ["CatalogBasicImports"],
                "summary": "Get a list of the available basic types of import.",
                "operationId": "CatalogBasicImports_GetAvailableBasicImportTypes",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerCloud.Common.Models.Data.IDataItem[System.String,System.String]"
                            }
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/BasicImports/{typeOfImport}/Template": {
            "get": {
                "tags": ["CatalogBasicImports"],
                "summary": "Get template file that will be used later for catalog import",
                "operationId": "CatalogBasicImports_GetFileTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "typeOfImport",
                        "in": "path",
                        "description": "Type of import: shadows, kits etc.<br />  5 = KitBoxDimensions ,  7 = ProductImages ,  8 = ProductChannelSpecificImages ,  9 = WalmartMarketplaceAttributes ,  10 = WalmartMarketplaceVariationValues ,  12 = AmazonAttributes ,  13 = AmazonHazardousAttributes ,  14 = ProductClones ,  15 = VariationImages ,  17 = ProductAverageCostAdjustments ,  21 = ProductTitles ,  22 = SearsAttributes ,  23 = JetAttributes ,  24 = MagentoAttributes ,  25 = EbayPartsCompatibility ,  26 = RelatedProducts ,  27 = ShopifyMetafields ,  28 = ProductDocuments ,  29 = BonanzaTraits ,  30 = ProductNotes ,  31 = EbayAuctions ,  32 = SkuSplittingInfo ,  33 = PerChannelUpc ,  34 = MagentoTierPricing ,  35 = NeweggComInternationalPrices ,  38 = RakutenAttributes ,  -1 = None ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            5, 7, 8, 9, 10, 12, 13, 14, 15, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29,
                            30, 31, 32, 33, 34, 35, 38, -1
                        ]
                    },
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "Type of the file.<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/BasicImports/{typeOfImport}": {
            "post": {
                "tags": ["CatalogBasicImports"],
                "summary": "Perform the specified type of data import.",
                "operationId": "CatalogBasicImports_ImportInfo",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "typeOfImport",
                        "in": "path",
                        "description": "<br />  5 = KitBoxDimensions ,  7 = ProductImages ,  8 = ProductChannelSpecificImages ,  9 = WalmartMarketplaceAttributes ,  10 = WalmartMarketplaceVariationValues ,  12 = AmazonAttributes ,  13 = AmazonHazardousAttributes ,  14 = ProductClones ,  15 = VariationImages ,  17 = ProductAverageCostAdjustments ,  21 = ProductTitles ,  22 = SearsAttributes ,  23 = JetAttributes ,  24 = MagentoAttributes ,  25 = EbayPartsCompatibility ,  26 = RelatedProducts ,  27 = ShopifyMetafields ,  28 = ProductDocuments ,  29 = BonanzaTraits ,  30 = ProductNotes ,  31 = EbayAuctions ,  32 = SkuSplittingInfo ,  33 = PerChannelUpc ,  34 = MagentoTierPricing ,  35 = NeweggComInternationalPrices ,  38 = RakutenAttributes ,  -1 = None ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            5, 7, 8, 9, 10, 12, 13, 14, 15, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29,
                            30, 31, 32, 33, 34, 35, 38, -1
                        ]
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "A file filled with the import data should be provided as a byte array.\r\n            The format of the file should be also specified",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Custom/Templates": {
            "get": {
                "tags": ["CatalogCustomImports"],
                "operationId": "CatalogCustomImports_GetAllCustomTemplates",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerCloud.Common.Models.Data.IDataItem[System.String,System.String]"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["CatalogCustomImports"],
                "operationId": "CatalogCustomImports_SaveTemplate",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateSaveTemplateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Custom/Templates/Fields": {
            "get": {
                "tags": ["CatalogCustomImports"],
                "operationId": "CatalogCustomImports_GetAvailableColumnsForExport",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerCloud.Common.Models.Data.IDataItem[System.String,System.String]"
                            }
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Custom/Templates/{templateName}": {
            "get": {
                "tags": ["CatalogCustomImports"],
                "operationId": "CatalogCustomImports_GetCustomTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "templateName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Services.IServiceDataResult[SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.BulkUpdateTemplateDto]"
                        }
                    }
                }
            },
            "delete": {
                "tags": ["CatalogCustomImports"],
                "operationId": "CatalogCustomImports_DeleteTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "templateName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Custom/Template": {
            "get": {
                "tags": ["CatalogCustomImports"],
                "operationId": "CatalogCustomImports_DownloadTemplate",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request.templateName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "request.templateFields",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.toAddSampleRow",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "request.productId",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "request.fileFormat",
                        "in": "query",
                        "description": "<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2],
                        "x-enumNames": ["TAB_Delimited", "CSV", "Excel"]
                    },
                    {
                        "name": "request.formatProduct",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Custom": {
            "post": {
                "tags": ["CatalogCustomImports"],
                "operationId": "CatalogCustomImports_ImportData",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest[SellerCloud.Delta.Client.Api.Models.Request.BulkUpdateProductsDto]"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Exports/Basic": {
            "post": {
                "tags": ["CatalogExports"],
                "summary": "Create basic export of data. Either creates a queued job or directly receives\r\nthe data as Base64 encoded string. Use the encoded string to convert it to file\r\non your machine.",
                "operationId": "CatalogExports_PerformBasicExport",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Provide the type of basic export that needs to be created\r\n            and an array of product IDs.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.Manage.Actions.Catalog.ExportStandardProductInfoRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Exports/Custom/Metadata": {
            "get": {
                "tags": ["CatalogExports"],
                "summary": "Get metadata necessary to create a custom export. Includes available File Formats,\r\nNames of previously created templates, Available fields from which a custom export template can be configured.\r\nUse the \"AvailableColumns\" collection to specify columns for a custom export.\r\nIn this reponse model \"Key\" property will be \"OriginalName\" for column object in the request, \r\nand \"Value\" property from this response model can be \"DisplayName\" for the column request (you can specify your own display name\r\nfor the given column).",
                "operationId": "CatalogExports_GetCustomExportsMetadata",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "includeAdvancedColumns",
                        "in": "query",
                        "description": "True/False whether or not to include advanced columns for export \r\n            in the response model",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.CustomCatalogExportsMetadataResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Exports/Custom": {
            "post": {
                "tags": ["CatalogExports"],
                "summary": "Create custom data export by providing a list of product fields.",
                "operationId": "CatalogExports_PerformCustomExport",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CustomCatalogExportRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Exports/Custom/Templates/{id}": {
            "get": {
                "tags": ["CatalogExports"],
                "summary": "Get data about a catalog export template. The response model includes name, ID and array of the template's columns.\r\nUse the columns collection to perform a custom export. In the reponse model \"Key\" property will be\r\n\"OriginalName\" in the request, and \"DisplayName\" will be \"DisplayName\" from the request (you can specify your own display name\r\nfor the given column).",
                "operationId": "CatalogExports_GetCustomExportTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Template ID.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.Manage.Actions.Catalog.CustomCatalogExportTemplateDto"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Exports/ViaPlugin/Metadata": {
            "get": {
                "tags": ["CatalogExports"],
                "summary": "Get a list of available plugins that can be used to perform product export.",
                "operationId": "CatalogExports_GetPluginExportMetadata",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Product.ExportPluginsResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Exports/ViaPlugin": {
            "post": {
                "tags": ["CatalogExports"],
                "summary": "Export products via plugin",
                "operationId": "CatalogExports_PerformExportViaPlugin",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Product.ExportProductViaPluginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Exports/ViaMappingProfile/Metadata": {
            "get": {
                "tags": ["CatalogExports"],
                "summary": "Get a list of available mapping profiles that can be used to perform product export.",
                "operationId": "CatalogExports_GetMappingProfileExportMetadata",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Product.MappingProfilesResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Exports/ViaMappingProfile": {
            "post": {
                "tags": ["CatalogExports"],
                "summary": "Export products via mapping profile",
                "operationId": "CatalogExports_PerformExportViaMappingProfile",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Product.ExportProductViaPluginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.ExportQueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/PerCompany/Types": {
            "get": {
                "tags": ["CatalogPerCompanyImports"],
                "summary": "Get a list of the available per company types of imports.",
                "operationId": "CatalogPerCompanyImports_GetAvailablePerCompanyImportTypes",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerCloud.Common.Models.Data.IDataItem[System.String,System.String]"
                            }
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/PerCompany/{typeOfImport}/Template": {
            "get": {
                "tags": ["CatalogPerCompanyImports"],
                "operationId": "CatalogPerCompanyImports_GetFileTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "typeOfImport",
                        "in": "path",
                        "description": "<br />  0 = BulkUpdateProducts ,  1 = ViaPluginProfile ,  2 = Shadows ,  3 = Variations ,  4 = Kits ,  5 = KitBoxDimensions ,  6 = EbaySpecifics ,  7 = ProductImages ,  8 = ProductChannelSpecificImages ,  9 = WalmartMarketplaceAttributes ,  10 = WalmartMarketplaceVariationValues ,  11 = NeweggComAttributes ,  12 = AmazonAttributes ,  13 = AmazonHazardousAttributes ,  14 = ProductClones ,  15 = VariationImages ,  16 = ProductGroups ,  17 = ProductAverageCostAdjustments ,  18 = ProductRebates ,  19 = ProductReplacements ,  20 = NeweggBizAttributes ,  21 = ProductTitles ,  22 = SearsAttributes ,  23 = JetAttributes ,  24 = MagentoAttributes ,  25 = EbayPartsCompatibility ,  26 = RelatedProducts ,  27 = ShopifyMetafields ,  28 = ProductDocuments ,  29 = BonanzaTraits ,  30 = ProductNotes ,  31 = EbayAuctions ,  32 = SkuSplittingInfo ,  33 = PerChannelUpc ,  34 = MagentoTierPricing ,  35 = NeweggComInternationalPrices ,  36 = ProductAliases ,  37 = ProductAccessories ,  38 = RakutenAttributes ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
                            20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
                            38
                        ]
                    },
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/PerCompany/{companyId}/{typeOfImport}": {
            "post": {
                "tags": ["CatalogPerCompanyImports"],
                "operationId": "CatalogPerCompanyImports_ImportInfo",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "companyId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "typeOfImport",
                        "in": "path",
                        "description": "<br />  0 = BulkUpdateProducts ,  1 = ViaPluginProfile ,  2 = Shadows ,  3 = Variations ,  4 = Kits ,  5 = KitBoxDimensions ,  6 = EbaySpecifics ,  7 = ProductImages ,  8 = ProductChannelSpecificImages ,  9 = WalmartMarketplaceAttributes ,  10 = WalmartMarketplaceVariationValues ,  11 = NeweggComAttributes ,  12 = AmazonAttributes ,  13 = AmazonHazardousAttributes ,  14 = ProductClones ,  15 = VariationImages ,  16 = ProductGroups ,  17 = ProductAverageCostAdjustments ,  18 = ProductRebates ,  19 = ProductReplacements ,  20 = NeweggBizAttributes ,  21 = ProductTitles ,  22 = SearsAttributes ,  23 = JetAttributes ,  24 = MagentoAttributes ,  25 = EbayPartsCompatibility ,  26 = RelatedProducts ,  27 = ShopifyMetafields ,  28 = ProductDocuments ,  29 = BonanzaTraits ,  30 = ProductNotes ,  31 = EbayAuctions ,  32 = SkuSplittingInfo ,  33 = PerChannelUpc ,  34 = MagentoTierPricing ,  35 = NeweggComInternationalPrices ,  36 = ProductAliases ,  37 = ProductAccessories ,  38 = RakutenAttributes ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
                            20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
                            38
                        ]
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest[SellerCloud.Delta.Models.Entity.Product.ImportProductInfo.PerCompanyProductDataImportRequest]"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Variations/Template": {
            "get": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Get template for populating variations info",
                "operationId": "CatalogSpecificImports_GetVariationsFileTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Shadows/Template": {
            "get": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Get template for populating shadows info",
                "operationId": "CatalogSpecificImports_GetShadowsFileTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Kits/Template": {
            "get": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Get template for populating kits info",
                "operationId": "CatalogSpecificImports_GetKitsFileTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/EbaySpecifics/Template": {
            "get": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Get template for ebay specific imports",
                "operationId": "CatalogSpecificImports_GetEbaySpecificsFileTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/NeweggBizAttributes/Template": {
            "get": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Get template for NeweggBiz Attributes imports",
                "operationId": "CatalogSpecificImports_GetNeweggBizAttributesFileTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    },
                    {
                        "name": "multiFormat",
                        "in": "query",
                        "description": "Import in Multi-format",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/NeweggComAttributes/Template": {
            "get": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Get template for NeweggCom Attributes imports",
                "operationId": "CatalogSpecificImports_GetNeweggComAttributesFileTemplate",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    },
                    {
                        "name": "multiFormat",
                        "in": "query",
                        "description": "Import in Multi-format",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Variations/Images/Template": {
            "get": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Get template for populating variations images info",
                "operationId": "CatalogSpecificImports_GetVariationImages",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Images/Template": {
            "get": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Get template for populating product images info",
                "operationId": "CatalogSpecificImports_GetProductImages",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "fileFormat",
                        "in": "query",
                        "description": "File Format: Tab_Delimited=0 CSV=1 Excel=2<br />  0 = TAB_Delimited ,  1 = CSV ,  2 = Excel ",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.FileResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Variations": {
            "post": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Import variations info",
                "operationId": "CatalogSpecificImports_ImportVariations",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Variations info.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest[SellerCloud.Delta.Client.Api.Models.Request.ImportVariationsDto]"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Shadows": {
            "post": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Import shadows info",
                "operationId": "CatalogSpecificImports_ImportShadows",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Shadows info.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest[SellerCloud.Delta.Client.Api.Models.Request.ImportShadowsDto]"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Kits": {
            "post": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Import kits info",
                "operationId": "CatalogSpecificImports_ImportKits",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Kits info.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest[SellerCloud.Delta.Client.Api.Models.Request.ImportKitsDto]"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/EbaySpecifics": {
            "post": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Import ebay specifics info",
                "operationId": "CatalogSpecificImports_ImportEbaySpecifics",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Ebay specifics info.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest[SellerCloud.Delta.Client.Api.Models.Request.ImportEbayspecificsDto]"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/NeweggBizAttributes": {
            "post": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Import NeweggBiz Attributes info",
                "operationId": "CatalogSpecificImports_ImportNeweggBizAttributes",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "NeweggBiz Attributes info.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest[SellerCloud.Delta.Client.Api.Models.Request.ImportNeweggAttributesDto]"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/NeweggComAttributes": {
            "post": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Import NeweggCom Attributes info",
                "operationId": "CatalogSpecificImports_ImportNeweggComAttributes",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "NeweggCom Attributes info.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest[SellerCloud.Delta.Client.Api.Models.Request.ImportNeweggAttributesDto]"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Variations/Images": {
            "post": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Import variations images",
                "operationId": "CatalogSpecificImports_ImportVariationsImages",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Variations images info.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Catalog/Imports/Images": {
            "post": {
                "tags": ["CatalogSpecificImports"],
                "summary": "Importing catalog images",
                "operationId": "CatalogSpecificImports_ImportProductImages",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Catalog image info",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Request.CatalogImportFileRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Client.Api.Models.Response.QueuedJobResponse"
                        }
                    }
                }
            }
        },
        "/api/Companies/{id}/ShippingApi": {
            "get": {
                "tags": ["Companies"],
                "summary": "Get metadata for company shipping APIs",
                "operationId": "Companies_GetShippingApiDetails",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of existing company",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Company.ShippingApiDetailsDto"
                        }
                    }
                }
            }
        },
        "/api/Companies/{id}/Settings/ebay/BusinessPolicies": {
            "get": {
                "tags": ["Companies"],
                "summary": "Get eBay business policies",
                "operationId": "Companies_GetEbayBusinessPolicies",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of existing company",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "siteCode",
                        "in": "query",
                        "description": "eBay site code",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page number. Default is 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Page size. Default is 10.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Company.Settings.Ebay.GetEbayBusinessPoliciesDto"
                        }
                    }
                }
            }
        },
        "/api/Companies/{id}/Settings/ebay/SiteCodes": {
            "get": {
                "tags": ["Companies"],
                "summary": "Get list of eBay site codes",
                "operationId": "Companies_GetEbaySiteCodes",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of existing company",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerCloud.Common.Models.Data.IDataItem[System.Int32,System.String]"
                            }
                        }
                    }
                }
            }
        },
        "/api/Companies/{id}": {
            "get": {
                "tags": ["Companies"],
                "summary": "Get info for single company",
                "operationId": "Companies_Get",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of existing company",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CoreWebAdmin.Delta.DetailsEntity.Models.Company.CompanyDetailsDto"
                        }
                    }
                }
            }
        },
        "/api/Companies": {
            "get": {
                "tags": ["Companies"],
                "summary": "Get info for list of companies",
                "operationId": "Companies_GetAll",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "model.companyID",
                        "in": "query",
                        "description": "List of company ID",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.channel",
                        "in": "query",
                        "description": "List of channels",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32",
                            "enum": [
                                0, 1, 2, 3, 4, 5, 6, 7, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
                                25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,
                                42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,
                                59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75,
                                76, 77, 78, 79
                            ]
                        },
                        "collectionFormat": "multi",
                        "x-enumNames": [
                            "Local_Store",
                            "eBayOrder",
                            "eBaySingleItem",
                            "Yahoo",
                            "Amazon",
                            "PriceGrabber",
                            "Website",
                            "Buy",
                            "NewEggMall",
                            "Magento",
                            "QuickBooks",
                            "RMS",
                            "Cart32",
                            "Sears",
                            "FBA",
                            "Wholesale",
                            "Overstock",
                            "NewEggdotcom",
                            "Etsy",
                            "Bonanza",
                            "PriceFalls",
                            "Wayfair",
                            "UnbeatableSale",
                            "VendorCentral",
                            "Hayneedle",
                            "SmartBargains",
                            "uBid",
                            "ATGStores",
                            "StacksAndStacks",
                            "Sharkstores",
                            "BestBuy",
                            "Kohls",
                            "Staples",
                            "OneStopPlus",
                            "Meijer",
                            "Sonsi",
                            "Walmart",
                            "HSN",
                            "NewEgg_Business",
                            "KMart",
                            "Wish",
                            "SPRichards",
                            "FingerHut",
                            "Groupon",
                            "Walmart_Marketplace",
                            "ShopHQ",
                            "PriceMinister",
                            "GS",
                            "DrugStore",
                            "MercadoLibre",
                            "JET",
                            "ElevenMain",
                            "SearsVendor",
                            "Choxi",
                            "TradeMe",
                            "Tanga",
                            "Target",
                            "GrouponMarketplace",
                            "Reverb",
                            "BedBathAndBeyond",
                            "Dropship_Central",
                            "DSW",
                            "Houzz",
                            "Gilt",
                            "BestBuyDS",
                            "TopHatter",
                            "HomeDepot",
                            "MassGenie",
                            "Cdiscount",
                            "GrouponGateway",
                            "SBN",
                            "GoogleExpress",
                            "Target_Plus",
                            "WFS"
                        ]
                    },
                    {
                        "name": "model.keyword",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Base.GetAllResponse[CoreWebAdmin.Delta.ManageEntity.Filters.CompanyDto]"
                        }
                    }
                }
            }
        },
        "/api/Customers/{id}/CustomColumns": {
            "put": {
                "tags": ["Customers"],
                "summary": "Update customer custom columns",
                "operationId": "Customers_UpdateCustomColumns",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Customer.UpdateCustomColumnsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/Customers/{id}/Addresses": {
            "put": {
                "tags": ["Customers"],
                "summary": "Update customer addresses",
                "operationId": "Customers_UpdateAddresses",
                "consumes": ["application/json", "text/json", "application/x-www-form-urlencoded"],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerCloud.Delta.Models.ClientAPI.Customer.UpdateAddressesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/Customers": {
            "get": {
                "tags": ["Customers"],
                "summary": "Get metadata for list of customers",
                "operationId": "Customers_GetAll",
                "consumes": [],
                "produces": ["application/json", "text/json"],
                "parameters": [
                    {
                        "name": "model.customerIds",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.email",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.firstName",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.lastName",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.rating",
                        "in": "query",
                        "description": "<br />  0 = NotRated ,  1 = Very_Disatisfied ,  2 = Disatisfied ,  3 = Neutral ,  4 = Satisfied ,  5 = Very_Satisfied ",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1, 2, 3, 4, 5],
                        "x-enumNames": [
                            "NotRated",
                            "Very_Disatisfied",
                            "Disatisfied",
                            "Neutral",
                            "Satisfied",
                            "Very_Satisfied"
                        ]
                    },
                    {
                        "name": "model.customerType",
                        "in": "query",
                        "description": "<br />  0 = Retail ,  1 = Wholesale ",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [0, 1],
                        "x-enumNames": ["Retail", "Wholesale"]
                    },
                    {
                        "name": "model.subscribed",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.createdOnFrom",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.createdOnTo",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.modifiedOnFrom",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.modifiedOnTo",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.phoneNumber",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.city",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.zipCode",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.exported",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.channel",
                        "in": "query",
                        "description": "<br />  0 = Local_Store ,  1 = eBayOrder ,  2 = eBaySingleItem ,  3 = Yahoo ,  4 = Amazon ,  5 = PriceGrabber ,  6 = Website ,  7 = Buy ,  12 = NewEggMall ,  15 = Magento ,  16 = QuickBooks ,  17 = RMS ,  18 = Cart32 ,  19 = Sears ,  20 = FBA ,  21 = Wholesale ,  22 = Overstock ,  23 = NewEggdotcom ,  24 = Etsy ,  25 = Bonanza ,  26 = PriceFalls ,  27 = Wayfair ,  28 = UnbeatableSale ,  29 = VendorCentral ,  30 = Hayneedle ,  31 = SmartBargains ,  32 = uBid ,  33 = ATGStores ,  34 = StacksAndStacks ,  35 = Sharkstores ,  36 = BestBuy ,  37 = Kohls ,  38 = Staples ,  39 = OneStopPlus ,  40 = Meijer ,  41 = Sonsi ,  42 = Walmart ,  43 = HSN ,  44 = NewEgg_Business ,  45 = KMart ,  46 = Wish ,  47 = SPRichards ,  48 = FingerHut ,  49 = Groupon ,  50 = Walmart_Marketplace ,  51 = ShopHQ ,  52 = PriceMinister ,  53 = GS ,  54 = DrugStore ,  55 = MercadoLibre ,  56 = JET ,  57 = ElevenMain ,  58 = SearsVendor ,  59 = Choxi ,  60 = TradeMe ,  61 = Tanga ,  62 = Target ,  63 = GrouponMarketplace ,  64 = Reverb ,  65 = BedBathAndBeyond ,  66 = Dropship_Central ,  67 = DSW ,  68 = Houzz ,  69 = Gilt ,  70 = BestBuyDS ,  71 = TopHatter ,  72 = HomeDepot ,  73 = MassGenie ,  74 = Cdiscount ,  75 = GrouponGateway ,  76 = SBN ,  77 = GoogleExpress ,  78 = Target_Plus ,  79 = WFS ",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            0, 1, 2, 3, 4, 5, 6, 7, 12, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
                            26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
                            44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61,
                            62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79
                        ],
                        "x-enumNames": [
                            "Local_Store",
                            "eBayOrder",
                            "eBaySingleItem",
                            "Yahoo",
                            "Amazon",
                            "PriceGrabber",
                            "Website",
                            "Buy",
                            "NewEggMall",
                            "Magento",
                            "QuickBooks",
                            "RMS",
                            "Cart32",
                            "Sears",
                            "FBA",
                            "Wholesale",
                            "Overstock",
                            "NewEggdotcom",
                            "Etsy",
                            "Bonanza",
                            "PriceFalls",
                            "Wayfair",
                            "UnbeatableSale",
                            "VendorCentral",
                            "Hayneedle",
                            "SmartBargains",
                            "uBid",
                            "ATGStores",
                            "StacksAndStacks",
                            "Sharkstores",
                            "BestBuy",
                            "Kohls",
                            "Staples",
                            "OneStopPlus",
                            "Meijer",
                            "Sonsi",
                            "Walmart",
                            "HSN",
                            "NewEgg_Business",
                            "KMart",
                            "Wish",
                            "SPRichards",
                            "FingerHut",
                            "Groupon",
                            "Walmart_Marketplace",
                            "ShopHQ",
                            "PriceMinister",
                            "GS",
                            "DrugStore",
                            "MercadoLibre",
                            "JET",
                            "ElevenMain",
                            "SearsVendor",
                            "Choxi",
                            "TradeMe",
                            "Tanga",
                            "Target",
                            "GrouponMarketplace",
                            "Reverb",
                            "BedBathAndBeyond",
                            "Dropship_Central",
                            "DSW",
                            "Houzz",
                            "Gilt",
                            "BestBuyDS",
                            "TopHatter",
                            "HomeDepot",
                            "MassGenie",
                            "Cdiscount",
                            "GrouponGateway",
                            "SBN",
                            "GoogleExpress",
                            "Target_Plus",
                            "WFS"
                        ]
                    },
                    {
                        "name": "model.corporateName",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.companyIds",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.keyword",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model.pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "model.pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
[...]
